<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions for Location and Internet -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:hardwareAccelerated="true"
        android:allowBackup="true">

        <!-- Google Maps API Key -->
        <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyBdQbgPs7loJpf8pbDbYEaECX0b4wJOhns" />


    </application>
</manifest>
